/* The main design */
.soucial.brown{
 border: 1px solid #31270d;
 color: #3a2e10;
 font-family: "font";
}
.soucial.brown.light{
 background: rgba(109,87,33,0.3);
}
.soucial.brown.dark{
 background: rgba(64,50,16,0.3);
}
.soucial.brown.bigShadow{
 box-shadow: 0 5px 22px rgba(49,39,19,0.6);
}

.soucial.brown::-webkit-input-placeholder{
 color: #3a2e10;
}

.soucial.green{
 border: 1px solid #17450c;
 color: #163d0d;
 font-family: "font";
}
.soucial.green.light{
 background: rgba(49,131,30,0.3);
}
.soucial.green.dark{
 background: rgba(36,89,22,0.3);
}
.soucial.green.bigShadow{
 box-shadow: 0 5px 22px rgba(35,102,19,0.6);
}

.soucial.green::-webkit-input-placeholder{
 color: #163d0d;
}

.soucial.red{
 border: 1px solid #702020;
 color: #4f1616;
 font-family: "font";
}
.soucial.red.light{
 background: rgba(160,60,60,0.3);
}
.soucial.red::-webkit-input-placeholder{
 color: #4f1616;
}